body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 100%;
}
.icon{
    width: 0px;
}
.icon-size{
    width: 50px;
}

.width-100{
width: 100%;
}

.content-heading{
    padding-top: 40px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;

}
.car-size{
    width: 100%;
}
.car-name{
text-align: center;
padding-bottom: 50px;

}
.footer-bg{
    background-color: #333;
    color: white;
}